[submodule "api/_third_party/buf"]
	path = api/_third_party/buf
	url = https://github.com/bufbuild/buf.git
[submodule "api/_third_party/protobuf"]
	path = api/_third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "api/_third_party/buf-v1.69.0"]
	path = api/_third_party/buf-v1.69.0
	url = https://github.com/bufbuild/buf
